<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>JWT</title>
  <style>
    /* Hide Edge/Chrome password reveal button */
    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear,
    input[type="password"]::-webkit-credentials-auto-fill-button,
    input[type="password"]::-webkit-input-placeholder,
    input[type="password"]::-webkit-input-password-reveal-button {
      display: none !important;
    }

    input[type="password"]::-webkit-input-password-reveal {
      display: none !important;
    }
  </style>
</head>

<body>
  <div class="w-full h-screen bg-gray-800 items-center justify-center flex">
    <div class="div bg-gray-900 rounded-lg p-4 w-2/3 m-auto text-white">
      <h1 class="p-2 text-2xl text-center font-bold">Create User</h1>
      <form method="POST" action="/create" class="flex flex-col">
        <input type="text" name="name" placeholder="Name" required class="p-2 m-2" />
        <input type="email" name="email" placeholder="Email" required class="p-2 m-2" />
        <input type="password" name="password" placeholder="Password" required class="p-2 m-2" />
        <button type="submit" class="rounded-md  p-2 m-2 bg-blue-500">Create</button>
      </form>
    </div>
  </div>
</body>

</html>